{{#each data}}
  <li id="{{id}}" class="posts__item">
    <div>
      <div class="posts__wrapper">
        <img src="{{avatar}}" alt="{{tag}}" class="posts__img" />
        <h3 class="posts__name">{{user}}</h3>
      </div>
      <p class="posts__tag">{{tag}}</p>
      <p class="posts__body">{{body}}</p>
    </div>
  </li>
{{/each}}